# Ignore build artifacts
build/
dist/
*.exe
*.dll

# Ignore large binary files (add more file extensions if needed)
*.zip
*.tar.gz

# Ignore macOS system files
.DS_Store

# Ignore Xcode and Android Studio files


# Ignore user-specific files
*.xcuserstate
*.iml

# CocoaPods
Pods/
Podfile.lock
